profile:
  env: dev

hermet:
  web:
    addr: ":8080"
    read_header_timeout: 5s # 读取请求头超时，防止 Slowloris 攻击
    read_timeout: 15s       # 读取整个请求超时，IM 请求通常较小
    write_timeout: 90s      # 写响应超时，历史记录数据量可能较大
    idle_timeout: 120s      # Keep-Alive 空闲超时，IM 客户端会频繁请求

  session:
    expiration: 12h

  cors:
    max_age: 86400s
    hostnames:
      - "localhost"
      - "172.19.208.1" # wsl ip

  ignores:
    - "/api/v1/user/sign-in"
    - "/api/v1/user/refresh-token"

# Redis 配置
redis:
  addr: 192.168.3.3:6379
  password: "<passwd>"

# 数据库配置
db:
  log_level: "info"
  slow_threshold: 200ms # 慢查询阈值
  ignore_record_not_found_error: true
  # sslmode=disable 用于开发环境，线上一般推荐使用 sslmode=require / sslmode=verify-ca(更高安全性) / sslmode=verify-full (最高安全性)
  dsn: "postgres://jrmarcco:%3Cpasswd%3E@192.168.3.3:5432/hermet?sslmode=disable&connect_timeout=1&statement_timeout=3000&idle_in_transaction_session_timeout=3000"

# MongoDB 配置
mongo:
  uri: "mongodb://192.168.3.3:27017"
  db_name: "hermet"
  app_name: "hermet"
  # 认证信息
  username: "jrmarcco"
  password: "<passwd>"
  auth_source: "admin"
  # 连接池配置
  max_pool_size: 100
  max_conn_idle_time: 10s
  connect_timeout: 1s
  server_selection_timeout: 1s
  startup_timeout: 1s
  shutdown_timeout: 1s
  # 分片配置
  sharding:
    - collection_name: "message"
      key: "cid"

# Kafka 配置
# 使用 SASL/SCRAM-SHA-256 + TLS 认证
kafka:
  # Kafka Broker
  brokers:
    - "192.168.3.3:9093"
    - "192.168.3.3:9193"
    - "192.168.3.3:9293"

  # Producer 配置
  producer:
    required_acks: -1            # all
    compression: "snappy"        # 使用 snappy 压缩
    max_message_bytes: 1024000   # 最大消息大小 1024000字节 = 1MB
    retry_max: 3                 # 最大重试次数 3
    batch_size: 100              # 批量大小 100
    batch_timeout: 10ms          # 批量超时 10ms
    write_timeout: 10s           # 写入超时 10s
    idempotent_enabled: true     # 启用幂等性

  # Consumer 配置
  consumer:
    read_timeout: 10s            # 读取超时 10s
    commit_interval: 1s          # 每秒提交一次
    start_offset: -1             # 从最新消息开始（kafka.LastOffset）
    min_bytes: 1                 # 最小 1 字节
    max_bytes: 10e6              # 最大 10MB
    max_wait: 500ms              # 最大等待 500ms

  # TLS 配置
  tls:
    # CA 证书文件路径（必需）
    ca_file: |
      -----BEGIN CERTIFICATE-----
      MIIFoTCCA4mgAwIBAgIUHaQWUTDiCBpgcsHr9f7G7BG2Ey4wDQYJKoZIhvcNAQEL
      BQAwYDELMAkGA1UEBhMCQ04xEDAOBgNVBAgMB0JlaWppbmcxEDAOBgNVBAcMB0Jl
      aWppbmcxDTALBgNVBAoMBFN5bnAxCzAJBgNVBAsMAkNBMREwDwYDVQQDDAhrYWZr
      YS1jYTAeFw0yNTEwMTQxMTE1NDFaFw0yNjEwMTQxMTE1NDFaMGAxCzAJBgNVBAYT
      AkNOMRAwDgYDVQQIDAdCZWlqaW5nMRAwDgYDVQQHDAdCZWlqaW5nMQ0wCwYDVQQK
      DARTeW5wMQswCQYDVQQLDAJDQTERMA8GA1UEAwwIa2Fma2EtY2EwggIiMA0GCSqG
      SIb3DQEBAQUAA4ICDwAwggIKAoICAQDCRT68DzbfHZBvQU8L/EiOjTMrLd77RQEy
      FJ9S4IZlFxb9U+O9vfmTPe8Lsml+CthKN9ZEg+iUSG9KHG0Ma2zUdID6+cGeSfHo
      KySpVYQfwfvKUthccf7zvgHUeRey4Xzi+G33My/ZsEWtpHHnYhsqMJhmG+Zuht28
      ZEloThCsY7PlZYxa6lAionavLvOWCcPua0UcmMs/w9md4BL/NopCev/DUXe36edR
      NYNTmWgiVqdYDxItqENy7ymBuBf6+TxbEtBpyZrdToompWXCvicyfj6TDuDNfiMR
      2kZMju8MeUzy6DovUQmSllNXdRtExWbr2yYrPFcPIqqJ23yy9kOpvWPknUF0QCtK
      gLdQM0USBovuYbxRHHdSpjqqD5d+VAIStvrVK7x0hoCXOVXl54ktdAh1IBfYsG4B
      S/ETCw/fOdgJyoOiRNVtHnm6uGGnEcVG+hgxsjiLtOqIZeZ1siVa0A88FPkhjB+4
      Endq1JlMx4vQSwpbnVWUfCBRi5dxn7Oe5g+Lp8i9AnxNrKqGvJ7OHF82AagBWWcT
      K5OI4eONWaAaVaplGopI6RJzvD1PRQK/vYvDKq44jAQS6RuD+zZhQvYKLDijA1Do
      XrARLhs7TzQgXOiGHsHInwGHvShU9lDFACmS0mPSYg2WJOEy8s5ZhfB4CFgvjusk
      X4xE1Dy52QIDAQABo1MwUTAdBgNVHQ4EFgQUDHOD9BPcNz8wUJ954HYi+SYyCPIw
      HwYDVR0jBBgwFoAUDHOD9BPcNz8wUJ954HYi+SYyCPIwDwYDVR0TAQH/BAUwAwEB
      /zANBgkqhkiG9w0BAQsFAAOCAgEAVNwt9dRfb6a4kaQLX2KIstLhSU49IkDbVQL2
      DrnElw/hpqWhqZGy2hDOxF50VTEH/uo5v9bNZyB4rUtmdlzW6B2VnhUxU4hivf4T
      tGqBbSWUwV9YCv1xPOGdoy8odLcPNtHr4Y9oHsjvjbLVUCW2l8A2dbIhmFtViFfw
      IqIUOylZvR/mbE/lsNFAyY2CE+JBH5RnTPxitDiJOfD1dwR3mb3EdeD/BfkNRphT
      vVsNDOJMG1FDtK98+oiMnf+nQcJxr5qXcXvH6+4CnvXUAdgdMcuZ9t4pYOHZ8Qaa
      kAizmkGvrnP5+0efqbGaoyRdUIGqmhrUtnjfiku8ti/WvF81e91jjpQNjG+zqOX8
      8oITVIXc5roM0SqebsFGuIi0F02HyrLzlaQJS8v8XV1t+MxaPGmcNP/1Er3fprrg
      9IjX0Rf8h2AHm5mzN3XR5qfwyknPLjTWuHhpBz4cNS1nh+LeACF1JPFVJhFzjc8a
      dQPdNBsoF6hxcLS1p+KEkrthOp5OkvSUaQmJBcoCbJJpjids7KYnDFsI2eA52vqi
      pdSxHVXgaF3l/kWqSaxq5pD4MzMxdXlDRDkTYdX6Yo1gw3zIB2FMHnH0hxTAjFHI
      hhBwJgTlws3T5BQZW2Dn15dJpkshPnh8mB1+XTDb9ySJbTQamqJwB1dOy5xHkvlE
      lcO1S9k=
      -----END CERTIFICATE-----

  # SASL/SCRAM-SHA-256 认证配置
  sasl:
    username: "synp-kafka-user"
    password: "synp-kafka-secret"
    # 提示：建议使用环境变量存储密码
    # password: "${KAFKA_PASSWORD}"

jwt:
  access:
    expiration: 1h   # Access Token 过期时间
    issuer: "hermet-access"
    private: |
      -----BEGIN PRIVATE KEY-----
      MC4CAQAwBQYDK2VwBCIEINuchwbkYeYD/jnGLyPjRAufQGP+WUckh+PK6U4u7fk1
      -----END PRIVATE KEY-----
    public: |
      -----BEGIN PUBLIC KEY-----
      MCowBQYDK2VwAyEA818wiIDR2aqxvLKcyQL2qvVCYlSs2A/izQi/K109rlU=
      -----END PUBLIC KEY-----

  refresh:
    expiration: 168h  # Refresh Token 过期时间
    issuer: "hermet-refresh"
    private: |
      -----BEGIN PRIVATE KEY-----
      MC4CAQAwBQYDK2VwBCIEIKPTxPL86hZ9ogcHUcl8RFnEK5+31567wtfNNi2fwOMv
      -----END PRIVATE KEY-----
    public: |
      -----BEGIN PUBLIC KEY-----
      MCowBQYDK2VwAyEAuulBhGrO5+ic3KquuV0hfO1KrOIjYC3OVtjzle+MqQI=
      -----END PUBLIC KEY-----
